

.dialogue {
			text-align:center; color:white;
		}
			
.continue {
			text-align:right
		}


.centerimage {
				display: block;
				margin-left: auto;
				margin-right: auto;
			
			
			}
		

.center {
			display: block;
			margin-left: auto;
			margin-right: 180px;
		}


@media only screen and (max-width: 600px){
		img {
			width: 100vw;
			
			margin-left:auto;
			margin-right:auto;
			
		}
					
		.continue {
			text-align: auto;
			margin-bottom: 40px;
		}
		
		
		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
	
		.left {	float:left;
		}				
	}


	.fullscreen {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	  }
	  
	  .main {
		flex: 1;
	  }
	  
	  
	  
	  .vertical-center {
		margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	  }
	  
	  /* from Sunshine English School */
	  
	  html, body {
		position: relative;
		min-height: 100%;
		}
	  
	  
	  
	  
	  body {
		background-color: #d6b47e!important;
		margin-bottom: 40px; /* Margin bottom by footer height */
	  }
	  
	  
	  .website-body {
	  background: #d2d4e6!important;
	  }
	  
	  
	  .dialogue {
			text-align:center; color:white;
		  }
			
	  .continue {
			text-align:right
		  }
	  
	  
	  .centerimage {
			  display: block;
			  margin-left: auto;
			  margin-right: auto;
			
			
			}
		  
	  
	  .center {
			display: block;
			margin-left: auto;
			margin-right: 180px;
		  }
	  
	  
	  .vocab-list 
	  {
		background-color: brown!important;
		border: 1px solid white!important;
		border-radius: 2%;
		color: pink;
	  }
	  
	  
	  .footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 40px; /* Set the fixed height of the footer here */
		line-height: 40px; /* Vertically center the text there */
		background-color: #E8B274;
		text-align: right;
		padding-right: 10px;
		}
	  
	  
	  .syllabus-btn
	  {
		background-color: orangered;
		color: beige;
		border: 1px solid black!important;
	  }
	  
	  .exercise-images
	  {
		max-height: 70vh;
	  
	  }
	  
	  @media only screen and (max-width: 600px){
		  img {
			width: 100vw;
			
			margin-left:auto;
			margin-right:auto;
			
		  }
				
		  .continue {
			text-align: auto;
			margin-bottom: 40px;
		  }
		  
		  
		  .center {
			display: block;
			margin-left: auto;
			margin-right: auto;
		  }
		  
		
		  .left {	float:left;
		  }				
		}
	  
	  
	  
		.lesson-navbar {
		  position: fixed;
		  bottom:20px;
		}
	  
/* .fullscreen {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

/* .main {
  flex: 1;
} */


@media (min-width: 576px) {

	.vertical-center {
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}
  }
  
  /* from Sunshine English School */
  
  html, body {
	position: relative;
	height: 100%;
	}
  
  
   /* for mobile screens */
  @media (max-width: 576px) {
  
  /*logo image */
	.navbar-brand img {
	  height: 50px;
	  width: 50px;
	}
  
	.homescreen-fairy-img {
	  height: 50%;
	  width: 50%;
	}
  }
  
  
  
  
  
  
  body {
	background-color: #d6b47e!important;
  
  }
  
  
  .website-body {
  background: #d2d4e6!important;
  }
  
  
  .dialogue {
		text-align:center; color:white;
	  }
		
  .continue {
		text-align:right
	  }
  
  
  .centerimage {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		}
	  
  
  .center {
		display: block;
		margin-left: auto;
		margin-right: 180px;
	  }
  
  
  .vocab-list 
  {
	background-color: brown!important;
	border: 1px solid white!important;
	border-radius: 2%;
	color: pink;
  }
  
  
  .footer {
	width: 100%;
	height: 40px; /* Set the fixed height of the footer here */
	line-height: 0px; /* Vertically center the text there */
	background-color: #E8B274;
	text-align: right;
	padding-right: 10px;
	}
  
  
  .syllabus-btn
  {
	background-color: orangered;
	color: beige;
	border: 1px solid black!important;
  }
  
  .exercise-images
  {
	max-height: 70vh;
  
  }
  
  @media only screen and (max-width: 600px){
	  img {
		width: 100vw;
		
		margin-left:auto;
		margin-right:auto;
		
	  }
			
	  .continue {
		text-align: auto;
		margin-bottom: 40px;
	  }
	  
	  
	  .center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	  }
	  
	
	  .left {	float:left;
	  }				
	}
  
  
  
  /* Message in a Bottle - exercise section*/
	 
	 .placeholder {
	   width: 350px;
	   height: 70px;
	   padding: 10px;
	   border: 1px solid #aaaaaa;
	 }
  
  
  
  
	 body {
	  display: flex;
	  flex-direction: column;
	}
	
  
	.content {
	  flex: 1 0 auto;
	}
	
	.footer {
	  flex-shrink: 0;
	}
	
  
	

.dialogue {
	text-align:center; color:white;
}
	
.continue {
	text-align:right
}


.centerimage {
		display: block;
		margin-left: auto;
		margin-right: auto;
	
	
	}


.center {
	display: block;
	margin-left: auto;
	margin-right: 180px;
}


@media only screen and (max-width: 600px){
img {
	width: 100vw;
	
	margin-left:auto;
	margin-right:auto;
	
}
			
.continue {
	text-align: auto;
	margin-bottom: 40px;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.left {	float:left;
}				
}	 