<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<meta name="viewport" content="width=device-width">
		<style>
			body {background-color: DarkGreen;}
			.centerimage {
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 40px;
			}
			
		</style>
	
	</head>
	<body>
		<audio controls>
			<source src="chill2_edit.wav" type="audio/mpeg">
		</audio controls>
	
		<div class="dialogue"><h2>Silly human</h2></div>
			<img src="Fairy.jpg" height="500" width="400" class="centerimage"/>	
		<div class = "continue"><h3><a href = "travelling.html">to quest<a/></h3></div>
	</body>
</html>