<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<style>
			body {background-color: #d6b47e;}
		</style>
	
	</head>
	<body>
	<strong>Quest 1</strong><p>
	
	The college needs someone to go to Fisherhaven to bargain with the Fish People there for some Cowery Shells.<p>
		
	<em>(the Fish People, like all the inhabitants of the World, speak English. The learner is learning English.)</em> <p><br>
	
	<a href="useful_vocabulary.html">Take this page of useful vocabulary to help you.</a>
	
	<div style = "text-align:right"><h3><a href = "outside-Fish_people_quest.html">Go to quest<a/></h3></div>
	</body>
</html>