<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/style.css">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
	<body>
	    <div class="container">

                <div class="col" align="center">
                  	<h2>Quests</h2><p><br>
                    <a href = "{% url 'QuestTannasPast' %}">Learn About Your Past<a/><p>
                    <a href = "{% url 'FightSequence1' %}">Fight sequence<a/><p>
                    <a href = "{% url 'QuestFishPrincess' %}">Fish Princess Quest<a/><p>
                </div>

    	<h5>Your Vocabulary<p></h5>
    	    you know x of x words<p><br>

    	<h5>Reading and Writing</h5>
    	<ul>
    	    <li>understand real-world notices</li>
            <li>read and choose the correct word</li>
            <li>read and choose the correct answer</li>
            <li>put a conversation in the correct order</li>
            <li>spell words correctly</li>
            <li>choose the correct words to complete a text</li>
            <li>complete an email/letter with missing words</li>
            <li>complete a form with important information</li>
            <li>write a short note, email or postcard.</li>
        </ul>


        <h5>Listening</h5>
        <ul>
            <li>listen for important information in short and long conversations and monologues</li>
            <li>listen and write down important information and spell words correctly.</li>
        </ul>

        <h5>Speaking</h5>
        <ul>
            <li>answer questions about yourself</li>
            <li>read a card and ask your partner some questions to get missing information</li>
            <li>read a card and answer your partner’s questions.</li>
        </ul>

    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>