<div class="content">
    <div class="container">

        <h3 class="mb-3">Welcome to "Learning about Colour"</h3>
        <p><strong>objectives:</strong> learn about colours</p>


        <a class="btn btn-outline-dark ml-auto" href="02" role="button"> to being, click here</a>
    </div>
    <img src="../../images/learning-about-colour/lc01.jpg" class="img-fluid mx-auto d-block rounded panel colour-panel">
    you've come to help me, thank you <br>
    I need you to please help the girl understand what I am saying.
</div>