{% extends "base/base.html"  %}

{% block body %}
{% load static %}

<div class="content">
    <div class="container">

        <div class="row justify-content-center mt-3">
            <img src="{% static "base/london/future-tense-title.svg" %}" class="img-fluid">
        </div>

        <div class="row mt-3">
            <div class="col-md-5">
                <img src="{% static "base/london/future-tense-01.png" %}" class="img-fluid rounded panel">
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center mt-3 mb-3">
                <img src="{% static "base/london/for-example.svg" %}">
            </div>
            <div class="col-md-5">
                <img src="{% static "base/london/future-tense-02.png" %}" class="img-fluid rounded panel">
            </div>
        </div>

        <div class="row mt-2">
            <a class="btn btn-outline-dark mx-auto" href="{% url 'london03' %}" role="button">
                next
            </a>
        </div>
    </div>
</div>

{% endblock %}