<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="style.css">
		<style>
			body {background-color: DarkGreen;}			
			a {color:white;}

			
						
			
			@media only screen and (max-width: 600px){
				img {
					width: 100vw;
					height: auto;
					
					margin-left:auto;
					margin-right:auto;
					
				}
		</style>	
	</head>
	<body>
		
	
		 <div class="centerimage">
			<div class="dialogue"><h2>...dont get lost now</h2>
			<img src="Forest.jpg" height="540" width="450"/>
			<h3><a href = "map_screen.html">continue on<a/></h3></div>
			
		</div>
	</body>
</html>